@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../../assets/dashboard-bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	color: white;
	/* border: 2px solid red; */
}

.headerText {
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
	font-size: 2rem;
	padding: 2rem 0;
	margin: 0 2rem 0;
}

.header {
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.header:hover {
	color: #ccc;
}

.salesNumberContainer {
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;
	background: white;
	/* position: absolute; */
	/* top: 5vh; */
	/* left: 10vw; */
	box-shadow: -4px -3px 20px 1px black;
}

.saleNumberComponent {
	flex: 1;
	font-size: 1rem;
	padding: 5rem;
	border: 2 px solid red;
}
.heading {
	font-size: 3rem;
	color: rgb(176, 155, 196);
}
.subtitle {
	color: gray;
}

.chartContainer {
	display: flex;
	background: #fff;
	justify-content: space-evenly;
	width: 80%;

	margin: auto;
	margin-top: 2rem;
}

.chart1 {
	background: #fff;
	width: 50vw;
	padding: 2rem;
	border: 2px solid #ccc;
}

.tableContainer {
	width: 80%;
	margin: auto;
	margin-top: 2rem;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: black;
	background: #fff;
}
