@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto@1&display=swap');

.homeContainer {
  background: url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_960_720.jpg);
  /* background: url(https://cdn.pixabay.com/photo/2015/09/09/20/54/book-933280_960_720.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100%;
  height: 100vh;
  /* position: relative; */
}

.chartContainer {
  display: flex;
  background: #fff;
  justify-content: space-evenly;
  width: 80%;

  margin: auto;
  margin-top: 2rem;
}

.chart1 {
  background: rgb(255, 255, 255);
  width: 30vw;
  padding: 2rem;
  border: 2px solid #ccc;
  /* position: absolute; */
  /* top: 60%; */
  /* left: 50%; */
  margin: auto;
  margin-top: 15rem;
  /* transform: translate(-50%, -50%); */
}

.button {
  color: white;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  /* position: absolute; */
  border: 2px solid red;
  /* top: 15%; */
  /* left: 35%; */
  /* transform: translate(-50%, -50%); */
  padding: 1rem;
  display: block;
  width: fit-content;
  margin: auto;
  transition: all 0.5s;
}

.button:hover {
  animation: shake-left 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.button:hover::before {
  content: '< ';
}

/**
 * ----------------------------------------
 * animation shake-left
 * ----------------------------------------
 */

@-webkit-keyframes shake-left {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shake-left {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
